@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');


div {
    color: black;
}

body {
    margin: 0;
    font-family: 'Anonymous Pro', monospace;
    background: #111111;
    color: white;
}

input, select, option {
    padding: 5px;
    margin-bottom: 2px;
    color: black;
    outline: none;
    border-radius: 6px;
    background: #562020;
    color: white;
}


button {
    background: inherit;
    color: black;
    font-weight: 700;
    padding: 2px;
    outline: none;

    width: 120px;

    border: 2px solid black;
    transition: .3s;

    cursor: default;
}

button:hover, input:hover {
    color: dodgerblue;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
